#Настройки проекта
SECRET_KEY = ""
DEBUG = 'True' / 'False' - режим отладки

#Подключение postgreSQL
NAME = 'имя БД' - ее нужно предварительно создать
USER = 'имя пользователя postgreSQL'
PASSWORD =  'пароль пользователя postgreSQL'
HOST = 'хост'
PORT = 'порт'

#Настройка celery
CELERY_BROKER_URL = 'redis://localhost:6379/0'
CELERY_RESULT_BACKEND = 'redis://localhost:6379/0'

#Настройка TG бота
TELEGRAM_BOT_TOKEN = "Токен ТГ бота"
